@(form: Form[controllers.Access.Login])
@import helper.inputText
@import helper.inputPassword
@import helper.twitterBootstrap._

@helper.form(routes.Access.authenticate()) {

    <h1>Sign in</h1>

    @if(form.hasGlobalErrors) {
        <p class="error">
        @form.globalError.message
        </p>
    }

    @if(flash.contains("success")) {
        <p class="success">
        @flash.get("success")
        </p>
    }

    @inputText(form("email"), '_label -> "Email")
    @inputPassword(form("password"), '_label -> "Password")

    <p>
        <button type="submit">Login</button>
    </p>

}